{{define "title"}}
Job
{{end}}

{{define "body"}}
<h2 class="text-xl font-bold mb-4">Job</h2>

<h3>Metadata</h3>
<table>
    <tbody>
        <tr>
            <td>Url</td>
            <td>
                <a href="{{.Job.Url}}" target="_blank">{{.Job.Url}}</a>
            </td>
        </tr>
        <tr>
            <td>Item Selector</td>
            <td>{{.Job.ItemSelector}}</td>
        </tr>
        <tr>
            <td>Text Selector</td>
            <td>{{.Job.TextSelector}}</td>
        </tr>
    </tbody>
</table>

<h3>Runs</h3>
<button hx-post="/job/{{.Job.Id}}/run">Start Run</button>
{{template "runs-table" .Runs }}

{{end}}

{{define "runs-table"}}

<table>
    <thead>
        <tr>
            <th>Run Time</th>
            <th>Matches</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{range .}}
        <tr>
            <td>{{.CreatedAt}}</td>
            <td>{{.Matches}}</td>
            <td>
                <a class="button" href="/job/{{.Job.Id}}/run/{{.Id}}" >View</a>
                <button class="danger" hx-delete="/job/{{.Job.Id}}/run/{{.Id}}" hx-confirm="Are you sure?" hx-target="#modal-content" hx-trigger="click">Delete</button>
            </td>
        </tr>
        {{end}}
        {{if eq (len .) 0}}
        <tr>
            <td colspan="3" class="text-center">No runs found</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}